.services-submenu{
  width: 10rem;
  position: absolute;
  top: 67px;
  list-style: none;
  text-align: start;
}
.services-submenu li{
  background-color: #121619;
  cursor: pointer;
}

.services-submenu li:hover {
  background-color: #121619;
}
.services-submenu.clicked {
  display: none;
}
.submenu-item {
  display: block;
  width: 150%;
  height: 150%;
  text-decoration: none;
  background-color: #121619;
  padding: 16px;
}

@media screen and(max-width:960px){
  .fa-caret-down{
    display: none;
  }
}


